node_modules
dist
*.local
.vscode/*
!.vscode/extensions.json

.env

pb_data
pocketbase.exe

instances/exports/*
instances/logs/*

nginx/logs/*
nginx/temp/*

server/script/*.{txt,json}
